$wp-blue: #007cba;

// Theme colors
$primary-color: $wp-blue;
$washed-color: mix(desaturate($primary-color, 50%), #fff, 10%);
$shadow-color: rgba(20, 25, 60, 0.32);

:export {
    primaryColor: $primary-color;
    shadowColor: $shadow-color;
    washedColor: $washed-color;
  }
  